@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



.container1 {
  background: #616060; /* light gray background */
  padding: 1rem;
  width: 300px; /* smaller width */
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.1);
}

.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #7e7a7a;
}

input {
  border: none;
  background: #fff;
  outline: none;
  color: #d1d1d1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

input::placeholder {
  color: #080808;
}

.weather__search {
  position: relative;
}

.weather__search i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color: #0c0b0b;
}

.weather__units {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.weather__units span {
  cursor: pointer;
  margin-right: 0.5rem;
}

.weather__body {
  text-align: center;
  margin-top: 2rem;
}

.weather__datetime {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #ffffff;
}

.weather__forecast {
  background: #ebebeb;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(247, 246, 246, 0.952);
}

.weather__icon img {
  width: 50px; /* smaller icon size */
}

.weather__temperature {
  font-size: 1.5rem;
  font-weight: 500;
}

.weather__minmax {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.weather__minmax p {
  font-size: 14px;
  margin: 0.5rem;
  color: #f7f2f2;
}

.weather__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}



@media (max-width: 400px) {
  .container {
    width: 90%;
  }
  .weather__header {
    flex-direction: column;
  }
  .weather__units {
    margin-top: 1rem;
  }
  .weather__info {
    grid-template-columns: none;
  }
}